/* CateAddPanel新增目录框 */
.cateAddBox{
	padding-top: 1px;
    z-index: 9999999;
    width: 400px;
    background-color: #f9f9f9;
    border: 1px solid rgb(84, 145, 207);
    border-radius: 3px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px #284869;
    box-shadow: 0 0 10px #284869;
    background-clip: padding-box;
    margin-top: 15%;
    margin-left: 35%;
}
.cateAddBoxTitle{
	font-size: 12px; 
	margin: 3px;
	color:white;
}
.cateAddBoxTitleBG{              		/* title背景 */
	width:100%;
	background-color:#5491CF;
	border-radius: 3px 3px 0px 0px;
	margin-top: -1px;
}
.cateAddBox button{
	border: 1px solid #5491CF;
	border-radius: 3px;
	color: #ffffff;
	background-color: #5491CF;
	line-height: 10px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	width:60px;
	height:30px;
}
.alertButton1{
    margin: 20px 0px 20px 42%;
}
.alertButton2{
    margin: 20px 0px 20px 18%;
}
.margin_left_17{
	margin-left:17%;
}
.vpanel_width_100{
	width:100%;
}
.min_height_250{
	height:250px;
}

/* AlertPanel提示框 */
.alertBox {                      		/* 提示框外层样式 */
	position: fixed;
	border: 1px solid rgb(84, 145, 207);
	z-index:99999999;
	width:400px;
/*	box-shadow: 0 0 10px #777777;*/
	box-shadow: 0 0 10px #284869;
	margin-top: 15%;
    margin-left: 35%;
    border-radius: 3px;
	background-color:#f9f9f9;
}
.alertTitle{              			/* title样式 */
	font-size: 12px; 
	margin: 3px;
	color:white;
	width: 35px;
}
.alertTitleBG{              		/* title背景 */
	width:100%;
	background-color:#5491CF;
	border-radius: 3px 3px 0px 0px;
/*	background-image: linear-gradient(to bottom, #5C6780, #284869);*/
}
.alertBody{                      		/* content样式 */
	margin:25px;
	line-height:24px;
	color:#333333;
	text-align:center;
}
.alertBodyBG{                      	/* content背景 */
	width:100%;
}
.alertBox button{ 
	border: 1px solid #5491CF;
	border-radius: 3px;
	color: #ffffff;
	background-color: #5491CF;
	line-height: 10px;
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	width:60px;
	height:30px;
}

.alertClose{							/* close样式 */
	margin-top: 3px;
    cursor: pointer;
    float: right;
}
.alertClose:before{
	background: url(../img/alert-close-w.png) no-repeat 50% 50%;
	background-size: 16px 16px;
	content: '';
    padding: 2px;
    padding-left: 8px;
    padding-right: 7px;
    margin: 3px;
}
.alertBack {
    position: fixed;
    _position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #000;
    background: -moz-radial-gradient(50% 50%, #000, #000);
    background: -webkit-radial-gradient(50% 50%, #000, #000);
    background: -webkit-gradient(radial, 0 50%, 0 50%, from(#000), to(#000));
    opacity: 0.3;
    display: block;
    _display: block;
    _left: -10000px;
    z-index: 1;
}