@CHARSET "UTF-8";

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}

.bda-datatree img{
	width: 12px !important;
	height: 12px !important;
	background-size: 12px 12px !important;
}

.bda-datatree div.bda-treenode{
	padding-left: 0px !important; 
}

.bda-datatree div.bda-treeleaf{
	padding-left: 0px !important;
}

.bda-treenode:hover,.bda-treeleaf:hover{
	cursor: pointer;
}

.bda-treenode .gwt-Label{
	margin-left: -10px;
	padding-left: 10px;
}

.bda-treeleaf>div.gwt-TreeItem>div.gwt-Label:before{
	content: '';
	padding: 2px;
    padding-left: 8px;
    padding-right: 7px;
    margin:3px;
}

.bda-treeleaf-finish>div.gwt-TreeItem>div.gwt-Label:before{
    background: url(../img/monitor-finish.png) no-repeat 50% 50%;
    background-size: 14px 14px;
}

.bda-treeleaf-running>div.gwt-TreeItem>div.gwt-Label:before{
    background: url(../img/monitor-running.png) no-repeat 50% 50%;
    background-size: 14px 14px;
}

.bda-treeleaf-fail>div.gwt-TreeItem>div.gwt-Label:before{
    background: url(../img/monitor-fail.png) no-repeat 50% 50%;
    background-size: 14px 14px;
}