body{
	font-family: "黑体";
}

.bda-custom-counter {
  padding-left: 10px;
  margin-left: 0;
  padding-right: 0;
  list-style-type: none;
}

.bda-custom-counter li {
  counter-increment: step-counter;
  color: white;
  line-height: 1.8em;
  font-size: 15pt;
}

.bda-custom-counter li:before {
  content: counter(step-counter);
  margin-right: 20px;
  font-size: 80%;
  background-color: white;
  color: #43B6A8;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 13px;
}


.bda-login-menu{
	background: url(../img/login.png) no-repeat 20% 90%;
}

.bda-logout-menu{
	background: url(../img/logout.png) no-repeat 20% 90%;
}

.bda-log-menu{
	background-size: auto 30px;
    width: 100px;
    height: 46px;
    display: inline-block;
    vertical-align: middle;
    font-family: "黑体";
}

.bda-log-menu a {
    font-size: 1.3em;
    color: #999999;
    padding-left: 50px;
    line-height: 3em;
    font-weight: 300;
    font-style: normal;
}

.h_account{
	vertical-align: middle;
	font-size: 1.3em;
    color: #999999;
    line-height: 3.0em;
    font-weight: 300;
    float: right;
    margin: 10px;
    font-family: "黑体"
}

.bda-login {
	border-radius: 5px;
	line-height: 200%;
	background-color: #ffffff;
	border: 1px solid #e3e3e3;
	padding: 20px 20px 5px 20px;
	font-family: Arial,"黑体";
	font-size: small;
	color: #333;
	z-index:16;
}

.bda-login .popupContent{
	z-index:6
}

.bda-login .loginLabel{
	font-size: 18pt;
	text-align: center;
	margin-bottom: 10px;
}

.bda-login .gwt-Label{
	font-size: 12pt;
	text-align: left;
	vertical-algin: middle;
}

.bda-login .bda-form-group{
	margin: 5px;
}

.bda-login .bda-form-group td{
	algin: right !important;
}

.bda-login .form-control{
	width: 200px;
	margin-left: 12px;
}

.bda-login .bda-login-checkbox{
	font-weight: normal;
	margin-left: 3px;
}

.bda-login .bda-login-forgetpwd{
	font-weight: normal;
	margin-left: 60px;
	cursor:pointer;
}
.bda-login-forgetpwd:before{
	content: '';
    padding: 2px;
    padding-left: 8px;
    padding-right: 7px;
    margin: 3px;
}

.bda-login-forgetpwd:before{
	background: url(../img/login-forgetpwd.png) no-repeat 50% 50%;
}

.bda-login .gwt-Button{
	font-weight: bold;
    /*margin-left: 20px;*/
    font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	color: #333;
	background: #ffffff;
}

.bad-login-error{
	color: red;
	width: 200px;
    margin-left: 12px;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6)
}

.form-control::-moz-placeholder {
	color: #999;
	opacity: 1
}

.form-control:-ms-input-placeholder {
	color: #999
}

.form-control::-webkit-input-placeholder {
	color: #999
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control
	{
	background-color: #eee;
	opacity: 1
}

.form-control[disabled], fieldset[disabled] .form-control {
	cursor: not-allowed
}

textarea.form-control {
	height: auto
}

.h_menu ul li a {
    display: block;
    margin: 10px;
    margin-top: 15px;
    padding: 3px 20px 3px 20px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "黑体";
    font-size: 24px;
    font-weight: 500;
    color: #585858;
    border: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    border: 1px solid #4CCFC1;
    border-radius: 5px;
}

a{
	color: #585858 !important;
}
a:hover{
	text-decoration: none !important;
}

.row-fluid .span12{
	font-size: 12pt;
	font-family: Arial,"黑体";
}

.row-fluid .span12 strong{
	font-size: 16pt;
}

ul.icon1.sub-icon1{
	padding: 0;
    margin: 0 0 10px 0px;
}

.da-img{
	margin-top: 10px;
}

.da-img img{
	max-width: 100%;
    height: 150% !important;
}