.statics-panel{
	float: left;
	margin-left:30px;
}
.statics-info-panel{
   background:0;
   border:0;
   border-bottom:1px solid #dce8f1;
   color:#4383b4;
   padding-left: 3px;
   width:380px;
}
.statics-chart-panel>.widget-header{
   background:0;
   border:0;
   border-bottom:1px solid #dce8f1;
   color:#4383b4;
   padding-left: 3px;
   width:780px;
}
.bin-from-group{
	margin-bottom:15px;
	margin-left:8px;
}

.chart-info-panel{
   float:left;
   width:25.666%;
   position: relative;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}
.chart-title-panel{
   background:0;
   border:0;
   border-bottom:1px solid #dce8f1;
   color:#4383b4;
   padding-left: 3px;
   width:250px;
}
.chart-style-modal-panel{
  width:800px;
  height:500px;
}
.chart-selection-content{
  width:800;
  height:700px;
}
.chart-selection-scrollable{
  max-height:400px;
  overflow-y:auto;
}
.chart-logo{
  width:150px;
}

.bda-logo{
    float: left;
    vertical-align: middle;
    padding-left: 35px;
}