<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<servlet>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<servlet-class>com.google.gwt.libideas.logging.server.RemoteLoggingServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<url-pattern>/EMLStudioDesigner/logging</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>remoteLoggingServiceImpl</servlet-name>
		<url-pattern>/EMLStudio/logging</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>accountservice</servlet-name>
		<servlet-class>eml.studio.server.rpc.AccountServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>accountservice</servlet-name>
		<url-pattern>/IndexPage/accountservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>accountservice</servlet-name>
		<url-pattern>/EMLStudio/accountservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>programservice</servlet-name>
		<servlet-class>eml.studio.server.rpc.ProgramServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>programservice</servlet-name>
		<url-pattern>/EMLStudio/programservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>programservice</servlet-name>
		<url-pattern>/IndexPage/programservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>datasetservice</servlet-name>
		<servlet-class>eml.studio.server.rpc.DatasetServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>datasetservice</servlet-name>
		<url-pattern>/EMLStudio/datasetservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>datasetservice</servlet-name>
		<url-pattern>/IndexPage/datasetservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>categoryservice</servlet-name>
		<servlet-class>eml.studio.server.rpc.CategoryServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>categoryservice</servlet-name>
		<url-pattern>/EMLStudio/categoryservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>categoryservice</servlet-name>
		<url-pattern>/IndexPage/categoryservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>FileUploadServlet</servlet-name>
		<servlet-class>eml.studio.server.file.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/EMLStudioDesigner/fileupload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileUploadServlet</servlet-name>
		<url-pattern>/EMLStudio/fileupload</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FileDownloadServlet</servlet-name>
		<servlet-class>eml.studio.server.file.FileDownloadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FileDownloadServlet</servlet-name>
		<url-pattern>/EMLStudioMonitor/filedownload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDownloadServlet</servlet-name>
		<url-pattern>/EMLStudio/filedownload</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>jobservice</servlet-name>
		<servlet-class>eml.studio.server.rpc.JobServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jobservice</servlet-name>
		<url-pattern>/EMLStudio/jobservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>jobservice</servlet-name>
		<url-pattern>/IndexPage/jobservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>etlservice</servlet-name>
		<servlet-class>eml.studio.server.rpc.ETLServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>etlservice</servlet-name>
		<url-pattern>/EMLStudio/etlservice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>etlservice</servlet-name>
		<url-pattern>/IndexPage/etlservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>mailService</servlet-name>
		<servlet-class>eml.studio.server.rpc.MailServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>mailService</servlet-name>
		<url-pattern>/EMLStudio/mailService</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>mailService</servlet-name>
		<url-pattern>/IndexPage/mailService</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>aesService</servlet-name>
		<servlet-class>eml.studio.server.rpc.AesServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>aesService</servlet-name>
		<url-pattern>/EMLStudio/aesservice</url-pattern>
	</servlet-mapping>
	
	<!-- Jersey Servlet -->
	<servlet>
		<servlet-name>VisualizationServlet</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>
				eml.studio.server.visual.restful
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>VisualizationServlet</servlet-name>
		<url-pattern>/restfulapi/visual/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>

